ul{
    font-size: 40px;
    list-style-type: none;
    background-color: aquamarine;
    /* border: 2px solid red;
    height: 60px;
    padding: 10px; */
    overflow: auto;
}
li{
    float: left;
    padding: 5px 5px;
}

/* note: 1. float le parent ko container bhanda bahira aauxa so overflow auto lagaunu parxa */
    /* 2. clear le next line ko left or right jani kam garxa */

#content{
    background-color: green;
    width: 70%;
    height: 200px;
    float: left;
}
#sidebar{
    background-color: aquamarine;
    width: 30%;
    height: 150px;
    float: left;
}
#footer{
    background-color: cornflowerblue;
    clear: both;

}